@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: icons;
    src: url(../fonts/MaterialIcons-Regular.ttf);
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

div#title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

div#title img {
    height: 1em;
    vertical-align: middle;
}

div#menu {
    position: absolute;
    top: 16px;
    right: 10px;
}

div#menu a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: ease-in-out .2s;
}

div#menu a:hover {
    font-weight: bold;
    border: 2px solid #ff841f;
}

div#menu .active {
    font-weight: bold;
    border: 2px solid #ff841f;
}

button {
    width: 50%;
    min-width: auto;
    overflow: hidden;
    margin: auto;
    font-family: Roboto, sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: none;
    transition: ease-in-out .2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

button>img,
button>span {
    vertical-align: middle;
}

button:hover,
button:focus {
    background: #afafaf;
}

button:active {
    background: #919191;
    transform: scale(0.98);
}

button#tryBtn {
    background: #ff841f;
}

button#tryBtn:hover,
button#tryBtn:focus {
    background: #be6216;
}

button#tryBtn:active {
    background: #914b12;
}

button#saveBtn img {
    height: 1em;
}

div#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
  
select {
    padding: 10px;
    width: 50%;
    border: 2px solid #ff841f;
    border-radius: 5px;
    font-size: large;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#conatiner>div.mdc-text-field,
button.sendButton, select {
    margin: 5px;
}

div#successPopup {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 20px 0px;
}

div#successPopup div {
    transition: ease-in-out .1s;
    opacity: 0;
    background-color: #3bfc35;
    width: 50%;
    font-weight: bolder;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.185);
}

.visible {
    opacity: 100 !important;
}

div#numOfTries {
    font-size: 60px !important;
    font-weight: bold;
}